
@{
    ViewData["AdminView"] = "Index";
}

<!-- Begin page -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="col-sm-6 col-xl-3">
                        <a href="https://localhost:44363/auction/create">
                            <div class="card">
                                <div class="card-heading p-4 mdi-image-filter-center-focus">
                                    <img src="/img/ImageAdmin/auction_110px.png" alt="Alternate Text" />
                                    <div class="text-center"><h3>Auction</h3></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- END ROW -->

        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->



<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<!-- END wrapper -->
